web: gunicorn django_project.wsgi:application --log-file - --log-level debug
python manage.py collectstatic --noinput
manage.py migrate
export SECRET_KEY=django-insecure-k9ti08a@@ng&wqo6pm@k^nq%7v6bw_=#==mca)sdx*z!^_5l$e